<header class="navbar">

  <a class="logo" [routerLink]="[rutaHome]">
    <img src="nuevologo.png" alt="PetFinder" />
  </a>

  <nav>
    <a routerLink="/inicio">Inicio</a>
    <a routerLink="/reportes">Reportes</a>
    <a routerLink="/chats">Chats</a>
    <a [routerLink]="[rutaMiPerfil]">Perfil</a>
  </nav>

  <div class="right-section">

    <button>
      + Nuevo reporte
    </button>

    <a [routerLink]="[rutaMiPerfil]" class="usuario-info">
      <div
        class="avatar"
        [style.background-image]="fotoUsuario() ? 'url(' + fotoUsuario() + ')' : null"
      ></div>
      <span class="usuario">
        {{ nombreUsuario() }}
      </span>
    </a>

  </div>

</header>