<div class="info-card">
  <div class="badges-header">
    <div class="badges-group">
      <span class="badge-type" [class.badge-type--perdida]="esPerdida()" [class.badge-type--avistado]="!esPerdida()">
        {{ estado() }}
      </span>
      <span [ngClass]="statusBadgeClass()">
        {{ statusText() }}
      </span>
    </div>
   
    <ng-content select="[slot='resolve-button']"></ng-content>
  </div>

  <h1>{{ titulo() }}</h1>

  <p class="datos">
    {{ datos() }}
  </p>

  <div class="tags">
    <span>{{ collar() }}</span>
    @if (transito()) {
      <span>{{ transito() }}</span>
    }
  </div>

  <h3>Descripcion</h3>

  <p class="descripcion">
    {{ descripcion() }}
  </p>

  <div class="extra-info">
    <span>{{ ubicacion() }}</span>
    <span>{{ report().occurredAt | date: 'dd MMM yyyy' }}</span>
    <span>{{ report().occurredAt | date: 'HH:mm' }}</span>
  </div>
</div>
